@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

.container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background: white;
  color: black;
  font-weight: bold;
  border: 3px solid var(--slate-5);
  border-radius: 5px;
  display: grid;
  place-items: center;
  gap: 20px;
  width: max-content;
  overflow-x: auto;
  padding: 20px 80px;
}

.title {
  font-size: 1.9rem;
  text-shadow: 1px 1px 5px;
}

.core {
  display: grid;
  place-items: center;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px var(--blue-4);
  padding: 5px;
  background: radial-gradient(var(--blue-1), var(--blue-4));
  display: grid;
  place-items: center;
  position: relative;
}

.circle svg {
  width: auto;
  height: 100%;
}

.circle text {
  fill: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inner-circle,
.outer-circle {
  font-family: "Comic Relief", system-ui;
  font-size: 1.3rem;
  width: 100px;
  height: 100%;

}

.this {
  font-size: 1.7rem;
}

.inner-circle span, .outer-circle span {
  position: absolute;
  display: block;
  text-align: center;

  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: var(--width);
}