.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.align-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: max-content;
}

.text-right {
  text-align: right;
}

.t1 {
  background-image: url(/src/assets/images/t1.png);
}

.t2 {
  background-image: url(/src/assets/images/t2.png);
}

.t3 {
  background-image: url(/src/assets/images/t3.png);
}

.t4 {
  background-image: url(/src/assets/images/t3.png);
}

.t1, .t2, .t3, .t4 {
  filter:brightness(1.5)
} 

.tijolo {
  display: inline-block;
  border: 4px solid var(--yellow-7);
  border-radius: 2px;
  padding: 4px;
  outline: 2px solid white;
  /* outline-offset: -1px; */
}

.bolder-border {
  border: 5px solid black;
  padding: 4px;
}

.left-arrow {
  display: inline-block;
  transform: rotate(180deg);
  position: relative;
  bottom: 1px;
}
