.construto-container {
  /* max-width: 1000px; */
  overflow-x: auto;

  height: 100vh;
  height: 100dvh;
   overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;

  padding: 10px;
}

.construto-container.active {
  cursor: grabbing;
}

.flex-align-center {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plasma {

  animation: light 5s infinite ease-in;
}

@keyframes light {
  0% {
    box-shadow: 0 0 15px 5px var(--yellow-3);
  }
  50% {
    box-shadow: 0 0 85px 20px var(--yellow-3);
  }
  100% {
    box-shadow: 0 0 15px 0px var(--yellow-3);
  }
  
}

.t1 {
  background-image: url(/src/assets/images/t1.png);
}

.t2 {
  background-image: url(/src/assets/images/t2.png);
}

.t3 {
  background-image: url(/src/assets/images/t3.png);
}

.t4 {
  background-image: url(/src/assets/images/t3.png);
}

.tijolo {
  color: black;
  display: inline-block;
  border: 4px solid var(--yellow-7);
  border-radius: 1px;
  padding: 4px;
  outline: 2px solid white;
  margin: 2px 0 1px -1px;
}

.t1,
.t2,
.t3,
.t4 {
  filter: brightness(1.5);
}

.bolder-border {
  border: 5px solid var(--red-5);
}

.left-arrow {
  display: inline-block;
  transform: rotate(180deg);
  position: relative;
  bottom: 1px;
}

.vras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
