.construto-container {
  max-width: 1000px;
  /* overflow-x: auto; */

  height: 100vh;
  height: 100dvh;
  /* overflow-y: auto; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
}

.construto-container.active {
  cursor: grabbing;
}

.align-middle {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: max-content;
}

.t1 {
  background-image: url(/src/assets/images/t1.png);
}

.t2 {
  background-image: url(/src/assets/images/t2.png);
}

.t3 {
  background-image: url(/src/assets/images/t3.png);
}

.t4 {
  background-image: url(/src/assets/images/t3.png);
}

.t1,
.t2,
.t3,
.t4 {
  filter: brightness(1.5);
}

.tijolo {
  display: inline-block;
  border: 4px solid var(--yellow-7);
  border-radius: 1px;
  padding: 4px;
  outline: 2px solid white;
  margin: 2px 0 1px -1px;
}

.bolder-border {
  border: 5px solid black;
}

.left-arrow {
  display: inline-block;
  transform: rotate(180deg);
  position: relative;
  bottom: 1px;
}

.vras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
